# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java#apache-maven-with-a-settings-path

name: Backwards merge

on:
    push:
        branches: [ master ]

jobs:
    build:

        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v2
            -   name: Declare some variables
                id: vars
                shell: bash
                run: |
                    echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
                    echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"

            -   name: Commit files
                shell: bash
                env:
                    COMMIT_HASH: ${{ steps.vars.outputs.sha_short }}
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                run: |
                    set -e
                    declare -a VERSIONS=(
                      1.13.0
                      1.14.0
                      1.15.0
                      1.16.0
                    )
                    git clone https://garagepoort:${GITHUB_TOKEN}@github.com/garagepoort/StaffPlusPlus.git
                    cd StaffPlusPlus

                    parents=$(git show --no-patch --format="%P" $COMMIT_HASH)
                    IFS=' ' read -ra arr <<<"$parents"
                    for i in "${VERSIONS[@]}"; do
                      RELEASE_BRANCH="release/$i"
                      git checkout $RELEASE_BRANCH
                      git pull
                      if [ ${#arr[@]} -gt 1 ]
                      then
                        git cherry-pick -m 1 $COMMIT_HASH
                        echo "Merge commit"
                      else
                        echo "Normal commit"
                        git cherry-pick -m 1 $COMMIT_HASH
                      fi
                      git push
                    done